
body
{
  color:#484848;
}

h1
{
  color:#787878;
}

h2
{
  color:#606060;
}

h3
{
  color:#484848;
}

a
{
  text-decoration:none;
  color:#3060c0;
}

#nav
{
  color:#606060;
}

.navitem
{
}

.passage
{
  margin-top:1em;
}
.comment
{
  margin-top:1em;
}
.citation
{
  margin-left:1em;
}
